.pidx-colorscheme {
	--pidx-color1: #000000;
	--pidx-color2: #ffffff;
  --pidx-color3: #dddddd;
  --pidx-color4: #1503ff;
  --pidx-color5: #ff0000;
  --pidx-MV-darkteal: #115e6e;
}

body {
	color: var(--pidx-color1);
	background-color: var(--pidx-color2);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	margin-left: 12px;
	margin-right: 12px;
}

.pidx-notice {
	color: blue;
	font-style: italic;
}

.pidx-contents {
  display: flex;
  flex-direction: row;
}

.pidx-navigationcontainer {
  display: inline-block;
}

.pidx-navbutton {
  width: 58px;
  font-size: 11px;
  border: 1px solid var(--pidx-color1);
  border-radius: 8px;
}

.pidx-navbuttonselected {
  background-color: var(--pidx-MV-darkteal);
  color: var(--pidx-color2);
}

.pidx-pacingcontainer {
  padding-right: 10px;
  background-color: var(--pidx-color3);
  border: 1px solid var(--pidx-color1);
  border-radius: 10px;
}

.pidx-pacingheader {
  font-size: 13px;
  font-weight: bold;
  margin-left: 6px;
}

.pidx-pacingitemtitle {
  margin-left: 6px;
}

.pidx-pacingitem {
  display: list-item;
  list-style-type: disc;
  margin-left: 26px;
} 

.pidx-pacinggraded {
  color: var(--pidx-color5);
}

.pidx-progress-check {
  font-style: italic;
  color: var(--pidx-color4);
}