.pcal-colorscheme {
	--pcal-color1: #000000;
	--pcal-color2: #ffffff;
}

body {
	color: var(--pcal-color1);
	background-color: var(--pcal-color2);
	font-family: Gotham, Montserrat, "Noto Sans", Helvetica, Calibri, Arial, "Noto Serif", Garamond, "Times New Roman";
	font-size: 11px;
	margin-left: 2px;
	margin-right: 2px;
}

.pcal-notice {
	color: blue;
	font-style: italic;
}

.pcal-contents {
  display: inline-block;
}

h3 {
  font-size: 12px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
}

.highlightweek {
  background-color: lightblue;
  font-weight: bold;
}