.pidx-colorscheme {
	--pidx-color1: #000000;
	--pidx-color2: #ffffff;
  --pidx-color3: #dddddd;
  --pidx-color4: #1503ff;
  --pidx-color5: #ff0000;
}

body {
	color: var(--pidx-color1);
	background-color: var(--pidx-color2);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin-left: 12px;
	margin-right: 12px;
}

.pidx-notice {
	color: blue;
	font-size: 14px;
	font-style: italic;
}

.pidx-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.pidx-border {
  border: 1px solid var(--pidx-color1);
}

.pidx-pacingcontainer {
  display: inline-block;
  padding-right: 10px;
  background-color: var(--pidx-color3);
  border-radius: 10px;

  border: 1px solid red;
}

.pidx-pacingheader {
  font-size: 15px;
  font-weight: bold;
  margin-left: 6px;
}

.pidx-pacingitemtitle {
  margin-left: 6px;
}

.pidx-pacingitem {
  display: list-item;
  list-style-type: disc;
  margin-left: 26px;
} 

.pidx-pacinggraded {
  color: var(--pidx-color5);
}

.pidx-progress-check {
  font-style: italic;
  color: var(--pidx-color4);
}