.pi-colorscheme {
	--cif-color1: #000000;
	--cif-color2: #ffffff;
  --cif-color3: #cccccc;
  
}

body {
	color: var(--cif-color1);
	background-color: var(--cif-color2);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin-left: 12px;
	margin-right: 12px;
}

.pi-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.pi-border {
  border: 1px solid var(--cif-color1);
  border-collapse: collapse;
}

th.pi-header {
  font-size: 14px;
  font-weight: bold;
}

td.pi-center-text {
  text-align: center;
}

tr.pi-odd-row {
  background-color: var(--cif-color3);
}

tr.pi-even-row {
  background-color: var(--cif-color2);
}

td.pi-notgraded {
  font-style: italic;
}

td.pi-progress-check {
  font-weight: bold;
  font-style: italic;
}