.pidx-colorscheme {
	--pidx-color1: #000000;
	--pidx-color2: #ffffff;
  --pidx-color3: #dddddd;
  --pidx-color4: #1503ff;
  --pidx-color5: #ff0000;
  --pidx-MV-darkteal: #115e6e;
  --pidx-color-start1: red;
  --pidx-color-start2: blue;
  --pidx-color-start3: #16c405;
}

body {
	color: var(--pidx-color1);
	background-color: var(--pidx-color2);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	margin-left: 12px;
	margin-right: 12px;
}

.pidx-notice {
	color: blue;
	font-style: italic;
}

.pidx-contents {
  display: flex;
  flex-direction: row;
}

.pidx-navigation-container {
  display: inline-block;
  text-align: center;
}

.pidx-navigationkey-container {
  background-color: var(--pidx-color3);
  margin-bottom: 3px;
  padding-left: 5px;
  padding-bottom: 0px;
  padding-top: 2px;
  border: 1px solid var(--pidx-color1);
  border-radius: 8px;
}

.pidx-navbutton {
  width: 58px;
  font-size: 11px;
  border: 1px solid var(--pidx-color1);
  border-radius: 8px;
}

.pidx-navbuttonselected {
  background-color: var(--pidx-color2);
  font-weight: bold;
}

.pidx-nav-start1 {
  color: var(--pidx-color-start1);
  border-color: var(--pidx-color-start1);
}

.pidx-nav-start2 {
  color: var(--pidx-color-start2);
  border-color: var(--pidx-color-start2);
}

.pidx-nav-start3 {
  color: var(--pidx-color-start3);
  border-color: var(--pidx-color-start3);
}

.pidx-pacingcontainer {
  padding-right: 10px;
  background-color: var(--pidx-color3);
  border: 1px solid var(--pidx-color1);
  border-radius: 10px;
}

.pidx-pacingheader {
  font-size: 13px;
  font-weight: bold;
  margin-left: 6px;
}

.pidx-pacingcalendarweeks {
  font-size: 11px;
  font-weight: normal;
}

.pidx-pacingitemtitle {
  margin-left: 6px;
}

.pidx-pacingitem {
  display: list-item;
  list-style-type: disc;
  margin-left: 26px;
} 

.pidx-progress-check {
  font-style: italic;
  color: var(--pidx-color4);
}

.pidx-duedate {
  color: var(--pidx-color4);
  font-style: italic;
  font-weight: bold;
}