.pi-colorscheme {
	--pi-color1: #000000;
	--pi-color2: #ffffff;
  --pi-color3: #dddddd;
  --pi-color4: #1503ff;
}

body {
	color: var(--pi-color1);
	background-color: var(--pi-color2);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin-left: 12px;
	margin-right: 12px;
}

.pi-notice {
	color: blue;
	font-size: 14px;
	font-style: italic;
}

.pi-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.pi-border {
  border: 1px solid var(--pi-color1);
  border-collapse: collapse;
}

th.pi-header {
  font-size: 14px;
  font-weight: bold;
}

td.pi-center-text {
  text-align: center;
}

tr.pi-odd-row {
  background-color: var(--pi-color3);
}

tr.pi-even-row {
  background-color: var(--pi-color2);
}

td.pi-graded {
  font-weight: bold;
}

td.pi-notgraded {
  
}

td.pi-progress-check {
  font-weight: bold;
  font-style: italic;
  color: var(--pi-color4);
}